* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  height: 100vh;
  font-family: cursive;
  overflow-x: hidden;
}

.title {
  width: 100%;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.date {
  font-size: 1.8rem;
  color: #fff;
  font-weight: bold;
}

.timer{
  color: #fff;
  width: 100%;
  max-width: 100em;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6em;
}

.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time{
  font-size: 2rem;
}



@media screen and (max-width:500px){
  .timer{
    gap: 2em;
    padding: 2em 0;
  }

}
